@media screen and (max-width: 600px) {
  /* Fonts styles */
  .text-xsm {
    font-size: 0.75rem !important;
  }

  .text-sm {
    font-size: 0.8rem !important;
  }

  .text-xl {
    font-size: 1.25rem !important;
  }

  .text-xxl {
    font-size: 1.5rem !important;
  }

  .continue-watch-section-layout h3 {
    font-size: 0.875rem !important;
  }

  body {
    font-size: 0.75rem !important;
  }

  .text-cut {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* general styling */
  .content-padding-lr {
    padding-inline: 1.25rem;
  }

  .content-padding-ud {
    padding-block: 2.5rem;
  }

  .section-title {
    margin-bottom: 1.25rem;
  }

  .section-padding {
    padding-block: 1.25rem;
  }

  .hidden-on-mobile {
    display: none !important;
  }

  .blue-btn {
    background-color: rgba(25, 45, 183, 1);
    padding: 0.4rem 0.9rem;
    border-radius: 48px;
    text-align: center;
  }

  .info-outline-icon {
    width: 1rem;
    height: 0.75rem;
    padding-right: 0.3rem;
  }

  .gray-btn {
    background-color: rgba(34, 40, 42, 1);
    padding: 0.4rem 0.9rem;
    border-radius: 48px;
    text-align: center;
  }

  .volume-btn {
    display: none;
  }

  /* navstyling */
  /* nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    max-height: 94px;
    background-color: rgba(24, 26, 28, 1);
  } */

  .smol-logo {
    width: 1.8rem;
    height: auto;
  }

  .menu-container {
    display: flex;
    gap: 0.8rem;
  }

  .menu-container a {
    font-size: 0.7rem !important;
  }

  .user-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  .dropdown-menu {
    padding: 1rem;
  }

  /* hero section styling */
  p.hero-title-desc {
    max-width: 100%;
    max-height: 2.5rem;
    text-wrap: nowrap;
  }

  .layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.9rem;
  }

  /* hor-card sytling - main */
  .hor-card {
    max-width: 100%;
    height: 162px !important;
    border-radius: 8px;
    overflow: hidden;
  }
  .hor-card img {
    width: 100%;
    height: inherit;
    object-fit: cover;
  }

  /* vercard styling - main */
  .ver-card {
    max-width: 6.5rem;
    height: 10rem !important;
    border-radius: 8px;
    overflow: hidden;
    /* border: 2px solid white; */
  }

  .ver-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .ver-card-text-layout {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0.5rem;
    z-index: 10;
    height: 10%;
  }

  .movie-rating {
    gap: 0.2rem;
  }

  .movie-rating .rating-icon {
    width: 12px;
    height: 12px;
  }

  /* footer styling*/

  .footer-container {
    flex-direction: column;
    align-items: start;
  }

  .footer-menu-container {
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .footer-genre-wrapper,
  .footer-help-wrapper {
    margin-top: 2.5rem;
  }

  .footer-icon-wrapper img {
    width: 5.25rem;
    height: 1.5469rem;
  }
  .footer-icon-wrapper p {
    margin-top: 1rem;
    color: rgba(193, 194, 196, 1) !important;
  }

  /* End of footer sytliing */
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  /* font style */
  .text-cut {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines you want */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* general styling */
  .content-padding-lr {
    padding-inline: 3.5rem;
  }
  .text-xsm {
    font-size: 0.8rem !important;
  }

  .hidden-on-desktop {
    display: none !important;
  }

  /* hor-card sytling - main */
  .hor-card {
    max-width: 100%;
  }
  /* footer styling*/

  .footer-container {
    flex-direction: column;
    align-items: start;
  }

  .footer-menu-container {
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 10rem;
  }
  .footer-genre-wrapper,
  .footer-help-wrapper {
    margin-top: 2.5rem;
  }

  .footer-icon-wrapper img {
    width: 6.2rem;
    height: 2.0469rem;
  }
  .footer-icon-wrapper p {
    margin-top: 1rem;
    color: rgba(193, 194, 196, 1) !important;
  }

  /* End of footer sytliing */
}
