/* *GENERAL STYLING */
.content-padding-lr {
  padding-inline: 5rem;
}

.content-padding-ud {
  padding-block: 3.75rem;
}

.section-title {
  margin-bottom: 3rem;
}

.text-wrap {
  text-wrap: balance;
}

.section-padding {
  padding-block: 3.5rem;
}

.flex {
  display: flex;
}

.info-outline-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 0.3rem;
}

.centralize {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 300ms;
}

a:hover {
  color: rgba(3, 103, 219, 1);
}

.text-xsm {
  font-size: 0.875rem; /*14px for rating*/
}

.text-sm {
  font-size: 1rem !important; /*16px*/
}

.text-md {
  font-size: 1.125rem !important; /*18px used for normal default text*/
}

.text-xl {
  font-size: 2rem !important; /*for sub title such as h2*/
}

.text-xxl {
  font-size: 3rem !important; /*for main title such as h1*/
}

.font-semibold {
  font-weight: 500 !important;
}

.font-bold {
  font-weight: 700 !important;
}

body {
  background-color: rgba(24, 26, 28, 1);
  color: #e7e3fc;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.125rem; /*18px*/
  line-height: 140%;
  letter-spacing: 0.5px;
  font-style: normal;
}

.blue-btn {
  background-color: rgba(25, 45, 183, 1);
  padding: 0.625rem 1.625rem;
  border-radius: 48px;
}

.blue-btn:hover {
  background-color: #e7e3fc;
  border: 2px solid rgba(25, 45, 183, 1);
  transition: all 100ms;
}

.gray-btn {
  background-color: rgba(34, 40, 42, 1);
  padding: 0.625rem 1.625rem;
  border-radius: 48px;
}

.gray-btn:hover {
  background-color: rgb(24, 28, 29, 1);
  color: #e7e3fc;
  border: 2px solid #e7e3fc;
  transition: all 100ms;
}

.gray-btn {
  background-color: rgba(34, 40, 42, 1);
  padding: 0.625rem 1.625rem;
  border-radius: 48px;
}

.gray-btn:hover {
  background-color: rgb(24, 28, 29, 1);
  color: #e7e3fc;
  border: 2px solid #e7e3fc;
  transition: all 100ms;
}

/* *NAVBAR STYLING */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  max-height: 94px;
  background-color: rgba(24, 26, 28, 1);
}
.menu-container {
  display: flex;
  gap: 5rem;
}

.menu-container a {
  color: #e7e3fc;
  text-decoration: none;
  display: inherit;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.menu-container a:hover {
  color: rgba(3, 103, 219, 1);
  transition: color 300ms;
}

.logo {
  width: 6.471875rem;
  /* height: 44px; */
}

.user-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-btn {
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform 300ms;
}

.dropdown-btn img {
  width: 16px;
}

.profile-container {
  /* relative for the dropdown menu :D */
  position: relative;
}

.dropdown-icon {
  width: 18px;
  height: 18px;
}
.dropdown-menu {
  list-style-type: none;
  position: absolute;
  background-color: rgba(24, 26, 28, 0.9);
  display: none;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: start;
  padding: 1.5rem 2rem;
  width: max-content;
  right: 0;
  z-index: 99;
  border-radius: 5px;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.dropdown-menu li:nth-child(1) {
  color: rgba(50, 84, 255, 1);
}

/* Hero section styling*/
.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}

.hero-title-desc {
  max-width: 50%;
  text-wrap: wrap;
}

.hero-buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.volume-off-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.volume-btn {
  border-radius: 50% !important;
  background-color: rgba(34, 40, 42, 1);
  /* padding: 0.625rem 1.625rem; */
  padding: 0.8rem;
}

.volume-btn:hover {
  background-color: rgb(24, 28, 29, 1);
  color: #e7e3fc;
  border: 2px solid #e7e3fc;
  transition: all 100ms;
  cursor: pointer;
}

/* main styling */
.hor-card {
  max-width: 25%;
  height: 162px !important;
  border-radius: 8px;
  overflow: hidden;
}
.hor-card img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.ver-card {
  max-width: 14.625rem;
  height: 22.8125rem !important;
  border-radius: 8px;
  overflow: hidden;
  /* border: 2px solid white; */
}

.ver-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .continue-watch-slide {
  position: relative;
} */

.continue-watch-section-layout {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  z-index: 10;
  height: 20%;
  bottom: 0;
  top: 50;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(16, 18, 19, 0.25) 25%,
    rgba(24, 26, 28, 0.5) 50%,
    rgba(32, 34, 38, 0.8) 100%
  );
}

.hor-card-text-layout {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 1rem;
  z-index: 10;
  height: 10%;
  bottom: 0;
  top: 50;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(16, 18, 19, 0.25) 25%,
    rgba(24, 26, 28, 0.5) 50%,
    rgba(32, 34, 38, 0.8) 100%
  );
}

.continue-watch-slide img,
.ver-slide img {
  transform: scale(1);
  transition: transform ease-in-out 500ms;
}

.continue-watch-slide:hover img,
.ver-slide:hover img {
  transform: scale(1.2);
  transition: transform ease-in-out 500ms;
}

.continue-watch-slide a:hover,
.ver-slide a:hover {
  color: #e7e3fc;
}

.movie-rating {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.movie-rating .rating-icon {
  width: 16px;
  height: 16px;
}

/* footer styling*/
footer {
  border-top: 1px solid rgba(231, 227, 252, 0.23);
  margin-top: 2.5rem;
}

.footer-icon-wrapper img {
  width: 10.1875rem;
  height: 2.75rem;
}
.footer-icon-wrapper p {
  margin-top: 1.625rem;
  color: rgba(193, 194, 196, 1) !important;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-menu-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.footer-genre-lists-cont,
.footer-help-lists-cont {
  display: flex;
  gap: 1.75rem;
  margin-top: 0.9375rem;
}
.footer-genre-lists-cont ul,
.footer-help-lists-cont ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
}
/* .footer-genre-lists-cont ul li,
.footer-help-lists-cont ul li {
  margin-bottom: 0.8125rem;
} */

/* * misc styling */

/* Controlled by our lord and savior JS-Kun */
.show {
  display: flex;
}

.rotate-up {
  transform: rotate(180deg);
  transition: transform 300ms;
}

@media screen and (max-width: 600px) {
  /* general styling */
  .content-padding-lr {
    padding-inline: 1.25rem;
  }
  .text-xsm {
    font-size: 0.75rem !important;
  }
  /* footer styling*/

  .footer-container {
    flex-direction: column;
    align-items: start;
  }

  .footer-menu-container {
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .footer-genre-wrapper,
  .footer-help-wrapper {
    margin-top: 2.5rem;
  }

  .footer-icon-wrapper img {
    width: 5.25rem;
    height: 1.5469rem;
  }
  .footer-icon-wrapper p {
    margin-top: 1rem;
    color: rgba(193, 194, 196, 1) !important;
  }

  /* End of footer sytliing */
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  /* general styling */
  .content-padding-lr {
    padding-inline: 3.5rem;
  }
  .text-xsm {
    font-size: 0.8rem !important;
  }
  /* footer styling*/

  .footer-container {
    flex-direction: column;
    align-items: start;
  }

  .footer-menu-container {
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 10rem;
  }
  .footer-genre-wrapper,
  .footer-help-wrapper {
    margin-top: 2.5rem;
  }

  .footer-icon-wrapper img {
    width: 6.2rem;
    height: 2.0469rem;
  }
  .footer-icon-wrapper p {
    margin-top: 1rem;
    color: rgba(193, 194, 196, 1) !important;
  }

  /* End of footer sytliing */
}
