/* hero section slides styling */
.swiper-slide .hero-images {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero-swiper .swiper-wrapper .swiper-slide {
  /* position: relative; */
  height: 37rem;
}

.hero-swiper .swiper-wrapper .swiper-slide .layout {
  position: absolute;
  padding-block: 1.5rem;
  z-index: 10;
  height: 50%;
  bottom: 0;
  top: 50;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(16, 18, 19, 0.5) 30%,
    rgba(24, 26, 28, 0.9) 100%
  );
}
.continue-watch-swiper,
.ver-swiper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .continue-watch-swiper-wrapper {
  border: 2px solid white;
} */

/* navigation styles for con-watch-swiper */

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  padding: 0.5rem !important;
  border-radius: 50% !important;
  width: 24px !important;
  height: 24px !important;
  background-color: rgba(47, 51, 52, 0.8) !important;
}
